:host {
  display: block;
  margin: 2rem 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  .header {
    border-bottom: 2px solid var(--mat-sys-primary);
  }
}

.header-row {
  th {
    background-color: lightgray;
    border: none;
    border-radius: 0.5rem;
  }
}

.info {
  display: flex;
  column-gap: 50rem;
  flex-wrap: wrap;

  &__item {
    display: flex;
  }
}
