@use "@angular/material" as mat;
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  @include mat.tabs-overrides(
    (
      active-indicator-color: orange,
      divider-color: red,
    )
  );
}

html {
  @include mat.theme-overrides(
    (
      primary: #ff9800,
      primary-container: #001e2c,
      secondary: #f2f2f2,
      on-primary-container: #dbe3eb,
    )
  );
}
