<h1>Offboarding</h1>
<div class="filter">
  <mat-form-field class="input" appearance="outline">
    <mat-label>Search</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. John"
      #input
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<div class="mat-elevation-z2 shadow">
  <div class="tab">
    <h2 class="header" id="header">Employees</h2>
  </div>
  <div class="table">
    <table mat-table matSort aria-labelledby="header">
      @for (col of columns; track $index) {
        <ng-container [matColumnDef]="col.id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ col.label }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ getCell(col, row) }}
          </td>
        </ng-container>
      }

      <tr
        class="header-row"
        mat-header-row
        *matHeaderRowDef="displayedColumns"
      ></tr>
      <tr
        class="row"
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="handleClick(row.id)"
      ></tr>
    </table>

    <mat-paginator
      #paginator
      [length]="dataSource().data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
